{% extends 'main/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/settings.css' %}">
{% endblock %}

{% block header_title %} Setting {% endblock %}

{% block content %}
<div class="settings">
    <div class="buttons">
        <a href="{% url 'username_change' %}" class="button">Change Username</a>
        <a href="{% url 'email_change' %}" class = "button">Change Email</a>
        <a href="{% url 'password_change' %}" class="button">Change Password</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button">Log Out</button>
        </form>
    </div>
</div>

{% endblock %}

