<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Forum </title>
    </head>

    <body>
        <h1>{{topic}} Forum </h1>

        <h2>Messages</h2>
        {% if messages %}
        {% for msg in messages %}
        {{ msg.content }} posted on {{ msg.created_at }} <br>
        {% endfor %}
        {% endif %}
        <br>

        <form action="{% url 'forum:forum' topic.name %}" method = "POST">
            {% csrf_token %}
            <input type="text" name="tweet">
            <input type="submit", value = "submission">
        </form>
        <br>
        <a href="{% url 'forum:index' %}"> Home </a>

    </body>
</html>